body{
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    margin: 0;
}
.map_bg{
    width: 80%;
    margin-top: 2%;
}
.mark{
    position: absolute;
    width: 5%;
}
a{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
}
.coin{
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
}
#coin_text{
    margin: 0;
    width: 20%;
    color: white;
}